$permanent-blue-smoke: #5C6D7D;
$permanent-yellow: #FFBE48;
$permanent-dark-blue: #33485D;
$permanent-smoke-yellow: #FFCB6D;
$permanent-dark-mint-biruza: #47B39C;
$white: #fff;
$permanent-light-blue: #DDE8F0;
$background: #0D4128;
$permanent-grey-dark: #677583;
$permanent-grey-light: #97ADC2;
$permanent-btn-yellow: #FFA800;
$green: #219653;
$blue: #2D9CDB;
$purple: #BB6BD9;
$red: #EB5757;
$light-red: #FDEEEE;