<section class="about container">
    <div class="about__column">
        <div class="characteristics">
        <h2 class="title">Характеристики<span class="title__color"> Тестового товара для верстки</span></h2>
        <ul class="characteristics__list ">
            <li class="characteristics__item show">
                <div class="characteristics__type">Тип</div>
                <div class="characteristics__bgimg"></div>
                <div class="characteristics__value">Группа 1</div>
            </li>
            <li class="characteristics__item show">
                <div class="characteristics__type">Номер</div>
                <div class="characteristics__bgimg"></div>
                <div class="characteristics__value">B410-210</div>
            </li>
            <li class="characteristics__item show">
                <div class="characteristics__type">Бренд</div>
                <div class="characteristics__bgimg"></div>
                <div class="characteristics__value">Wezom</div>
            </li>
            <li class="characteristics__item">
                <div class="characteristics__type">Гарантийный срок</div>
                <div class="characteristics__bgimg"></div>
                <div class="characteristics__value">12 мес.</div>
            </li>
            <li class="characteristics__item">
                <div class="characteristics__type">Розмер</div>
                <div class="characteristics__bgimg"></div>
                <div class="characteristics__value">45см x 50см x 35см</div>
            </li>
            <li class="characteristics__item">
                <div class="characteristics__type">Вес</div>
                <div class="characteristics__bgimg"></div>
                <div class="characteristics__value">2 кг</div>
            </li>
        </ul>
        <div class="characteristics__btn-total"><button class="button__type-underline"><span>Все характеристики</span>
            <svg class="icon-arrow" width="6px" height="10px">
                <use href="./images/sprite.svg#arrow"></use>
            </svg>
        </button></div>
        </div>
        <div class="reviews">
        <div class="reviews__box-title"  id="reviews">
            <h2 class="title">Отзывы покупателей
                <span class="reviews__total reviews__total-green"></span></h2>
            <button class="button__type-underline" type="button" id="showAllBtn"><span>Все отзывы</span>
                <svg class="icon-arrow" width="5px" height="9px" >
                    <use href="./images/sprite.svg#arrow"></use>
                </svg>
            </button>
        </div>
        <div id="reviewsList"></div>
        <div class="reviews__btn-loadmore"><button class="button__type-yellow" type="button" id="showMoreBtn">Показать еще</button></div>
        </div>
    </div>
</section>