<section class="about">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-10 mt-5 col-xl-5 col-sm-9 mt-xl-0">
            <div class="row ">
                <div class="col-12 mt-2">
                    <h2 class="title">Характеристики
                        <span class="title--color"> Тестового товара для верстки</span>
                    </h2>
                </div>
                <div class="col-9 mt-4">
                <div class="row justify-content-between align-items-baseline js-characteristics js-show">
                    <div class="col-auto mb-1">
                        <div class="text text--big-size text--bold text--dark-blue">Тип</div>
                    </div>
                    <div class="col p-0">
                        <div class="bgimg-dashes"></div>
                    </div>
                    <div class="col-auto">
                        <div class="text text--big-size">Группа 1</div>
                    </div>
                </div>
                <div class="row justify-content-between align-items-baseline js-characteristics js-show">
                    <div class="col-auto mb-1">
                        <div class="text text--big-size text--bold text--dark-blue">Номер</div>
                    </div>
                    <div class="col p-0">
                        <div class="bgimg-dashes"></div>
                    </div>
                    <div class="col-auto">
                        <div class="text text--big-size">B410-210</div>
                    </div>
                </div>
                <div class="row justify-content-between align-items-baseline js-characteristics js-show">
                    <div class="col-auto mb-1">
                        <div class="text text--big-size text--bold text--dark-blue">Бренд</div>
                    </div>
                    <div class="col p-0">
                        <div class="bgimg-dashes"></div>
                    </div>
                    <div class="col-auto">
                        <div class="text text--big-size">Wezom</div>
                    </div>
                </div>
                <div class="row justify-content-between  align-items-baseline js-characteristics">
                    <div class="col-auto mb-1">
                        <div class="text text--big-size text--bold text--dark-blue">Гарантийный срок</div>
                    </div>
                    <div class="col p-0">
                        <div class="bgimg-dashes"></div>
                    </div>
                    <div class="col-auto">
                        <div class="text text--big-size">12 мес.</div>
                    </div>
                </div>
                <div class="row justify-content-between align-items-baseline js-characteristics">
                    <div class="col-auto mb-1">
                        <div class="text text--big-size text--bold text--dark-blue">Размер</div>
                    </div>
                    <div class="col p-0">
                        <div class="bgimg-dashes"></div>
                    </div>
                    <div class="col-auto">
                        <div class="text text--big-size">45см x 50см x 35см</div>
                    </div>
                </div>
                <div class="row justify-content-between align-items-baseline js-characteristics">
                    <div class="col-auto mb-1">
                        <div class="text text--big-size text--bold text--dark-blue">Вес</div>
                    </div>
                    <div class="col p-0">
                        <div class="bgimg-dashes"></div>
                    </div>
                    <div class="col-auto">
                        <div class="text text--big-size">2 кг</div>
                    </div>
                </div>
                </div>
                <div class="col-12 mt-3">
                    <button class="button button--underline js-characteristics-button">
                        <span class="button__name">Все характеристики</span>
                        <svg class="button__icon" width="6px" height="10px">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-10 mt-5 col-xl-5 col-sm-9 mt-xl-1">
            <div class="row align-items-center mb-5" id="reviews">
                <div class="col-auto ">
                    <h2 class="title">Отзывы покупателей
                        <span class="title title--color js-reviews-total"></span>
                    </h2>
                </div>
                <div class="col text-end">
                    <button class="button button--underline js-show-all" type="button" >
                        <span class="button__name">Все отзывы</span>
                            <svg class="button__icon" width="5px" height="9px" >
                                <use href="./images/sprite.svg#arrow"></use>
                            </svg>
                    </button>
                </div>
            </div>
            <div class="row js-reviews-list"></div>
            <div class="row justify-content-center mb-2">
                <div class="col-6">
                    <button class="button button--yellow js-show-more" type="button">
                        <span class="button__txt">Показать еще</span>
                    </button>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</section>

