<section class="characteristics">
    <div class="characteristics__column">
    <div class="characteristics__block">
        <h2 class="characteristics__title title">Характеристики<span class="title-green"> Тестового товара для верстки</span></h2>
        <ul class="characteristics__list ">
            <li class="characteristics__item show">
                <p class="characteristics__type">Тип</p>
                <span></span>
                <p class="characteristics__value">Группа 1</p>
            </li>
            <li class="characteristics__item show">
                <p class="characteristics__type">Номер</p>
                <span></span>
                <p class="characteristics__value">B410-210</p>
            </li>
            <li class="characteristics__item show">
                <p class="characteristics__type">Бренд</p>
                <span></span>
                <p class="characteristics__value">Wezom</p>
            </li>
            <li class="characteristics__item">
                <p class="characteristics__type">Гарантийный срок</p>
                <span></span>
                <p class="characteristics__value">12 мес.</p>
            </li>
            <li class="characteristics__item">
                <p class="characteristics__type">Розмер</p>
                <span></span>
                <p class="characteristics__value">45см x 50см x 35см</p>
            </li>
            <li class="characteristics__item">
                <p class="characteristics__type">Вес</p>
                <span></span>
                <p class="characteristics__value">2 кг</p>
            </li>
        </ul>
        <button class="reviews__btn-total"><span>Все характеристики</span>
            <svg class="icon-arrow" width="5px" height="9px">
                <use href="./images/sprite.svg#arrow"></use>
            </svg>
        </button>
    </div>
    <div class="reviews">
        <div class="reviews__box-title"  id="reviews">
            <h2 class="title">Отзывы покупателей 
            <span class="reviews__total" id="productReviewsTotal"></span></h2>
            <button class="reviews__btn-total" type="button" id="showAllBtn"><span>Все отзывы</span>
                <svg class="icon-arrow" width="5px" height="9px" >
                    <use href="./images/sprite.svg#arrow"></use>
                </svg>
            </button>
        </div>
        <div id="productReviews"></div>
        <button class="reviews__btn-loadmore" type="button" id="showMoreBtn">Показать еще</button>
    </div>
    </div>
</section>