<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-6 p-0">
                <div class="text">
                    <span class="text__copyright text__copyright--white">2023 &copy; Wezom Test</span>
                </div>
            </div>
            <div class="col-6 p-0 text-end">
                <div class="text">
                    <span class="text__copyright text__copyright--white">Тестовое 
                        <span class="text__copyright--grey-dark">\</span>
                        <span class="text__copyright--grey-light">\</span> Wezom
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
