<header class="header">
    <div class="container">
        <div class="header__desctop">
            <div class="row justify-content-between align-items-center mb-3">
                <div class="col-3">
                    <div class="logo">
                        <svg class="logo__icon" >
                            <use href="./images/sprite.svg#logo"></use>
                        </svg>
                    </div>
                </div>
                <div class="col-6 p-0 col-xl-6">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <nav>
                                <ul class="nav">
                                    <li  class="nav__item ">
                                        <a class="nav__link">О компании</a>
                                    </li>
                                    <li class="nav__item ">
                                        <a class="nav__link">Доставка и оплата</a>
                                    </li>
                                    <li class="nav__item ">
                                        <a class="nav__link">Гарантия</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col text-end">
                            <div class="phone">
                                <a class="phone__link" href="tel:+380680000000">+38 068 000 00 00</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row align-items-center justify-content-center offset-1">
                        <div class="col-5 text-center">
                            <ul class="lang">
                                <li class="lang__item">
                                    <a class="lang__link">Ua</a>
                                </li>
                                <li class="lang__item">
                                    <a class="lang__link">Ru</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <button type="button" class="login">Войти
                                <svg class="login__icon" width="20px" height="20px">
                                    <use href="./images/sprite.svg#user"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                    <div class="col-3">
                        <div class="row justify-content-between js-close-category">
                            <div class="header__box-category ">
                                <div class="col">
                                    <button class="button button--menu js-btn-menu" type="button">
                                        <svg class="js-menu-icon" width="30px" height="25px">
                                            <use href="./images/sprite.svg#menu"></use>
                                        </svg>
                                        <svg class="js-close-icon js-hidden" width="30px" height="25px" fill="#fff">
                                            <use href="./images/sprite.svg#close"></use>
                                        </svg>
                                        <div class="button--subtitle">каталог</div>
                                    </button>
                                </div>
                                <div class="col text-end">
                                    <div class="category__btn">
                                        <button class="button button--underline button--underline-white" type="button">
                                            <div class="button__name button__name--white">Все категории</div>
                                        </button>
                                    </div>
                                    <ul class="category js-category">
                                        <li class="category__item">
                                            <div class="category__item--main">
                                                <div class="category__item--icon">
                                                    <svg class="category__icon" width="34px" height="34px">
                                                        <use href="./images/sprite.svg#power"></use>
                                                    </svg>
                                                </div>
                                                <div class="category__item--text">Категория 1</div>
                                            </div>
                                            <div class="category__icon-arrows">
                                                <svg class="category__icon--arrow" width="9px" height="16px">
                                                    <use href="./images/sprite.svg#arrow"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    
                                        <li class="category__item">
                                            <div class="category__item--main">
                                                <div class="category__item-icon">
                                                    <svg class="category__icon" width="34px" height="34px">
                                                        <use href="./images/sprite.svg#cartridge"></use>
                                                    </svg>
                                                </div>
                                                <div class="category__item--text">Категория 2</div>
                                            </div>
                                            <div class="category__item-arrow">
                                                <svg class="category__icon--arrow" width="9px" height="16px">
                                                    <use href="./images/sprite.svg#arrow"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    
                                        <li class="category__item">
                                            <div class="category__item--main">
                                                <div class="category__item-icon">
                                                    <svg class="category__icon" width="34px" height="34px">
                                                        <use href="./images/sprite.svg#geometry"></use>
                                                    </svg>
                                                </div>
                                                <div class="category__item--text">Категория 3</div>
                                            </div>
                                            <div class="category__item-arrow">
                                                <svg class="category__icon--arrow" width="9px" height="16px">
                                                    <use href="./images/sprite.svg#arrow"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    
                                        <li class="category__item">
                                            <div class="category__item--main">
                                                <div class="category__item-icon">
                                                    <svg class="category__icon" width="34px" height="34px">
                                                        <use href="./images/sprite.svg#aktuators"></use>
                                                    </svg>
                                                </div>
                                                <div class="category__item--text">Категория 4</div>
                                            </div>
                                            <div class="category__item-arrow">
                                                <svg class="category__icon--arrow" width="9px" height="16px">
                                                    <use href="./images/sprite.svg#arrow"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    
                                        <li class="category__item">
                                            <div class="category__item--main">
                                                <div class="category__item-icon">
                                                    <svg class="category__icon" width="34px" height="34px">
                                                        <use href="./images/sprite.svg#servoprivod"></use>
                                                    </svg>
                                                </div>
                                                <div class="category__item--text">Категория 5</div>
                                            </div>
                                            <div class="category__item-arrow">
                                                <svg class="category__icon--arrow" width="9px" height="16px">
                                                    <use href="./images/sprite.svg#arrow"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    
                                        <li class="category__item">
                                            <div class="category__item--main">
                                                <div class="category__item-icon">
                                                    <svg class="category__icon" width="34px" height="34px">
                                                        <use href="./images/sprite.svg#prokladki"></use>
                                                    </svg>
                                                </div>
                                                <div class="category__item--text">Категория 6</div>
                                            </div>
                                            <div class="category__item-arrow">
                                                <svg class="category__icon--arrow" width="9px" height="16px">
                                                    <use href="./images/sprite.svg#arrow"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    
                                        <li class="category__item">
                                            <div class="category__item--main">
                                                <div class="category__item-icon">
                                                    <svg class="category__icon" width="34px" height="34px">
                                                        <use href="./images/sprite.svg#zap4astis"></use>
                                                    </svg>
                                                </div>
                                                <div class="category__item--text">Категория 7</div>
                                            </div>
                                            <div class="category__item-arrow">
                                                <svg class="category__icon--arrow" width="9px" height="16px">
                                                    <use href="./images/sprite.svg#arrow"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    
                                        <li class="category__item">
                                            <div class="category__item--main">
                                                <div class="category__item-icon">
                                                    <svg class="category__icon" width="34px" height="34px">
                                                        <use href="./images/sprite.svg#aktuator"></use>
                                                    </svg>
                                                </div>
                                                <div class="category__item--text">Категория 8</div>
                                            </div>
                                            <div class="category__item-arrow">
                                                <svg class="category__icon--arrow" width="9px" height="16px">
                                                    <use href="./images/sprite.svg#arrow"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    
                                        <li class="category__item">
                                            <div class="category__item--main">
                                                <div class="category__item-icon">
                                                    <svg class="category__icon" width="34px" height="34px">
                                                        <use href="./images/sprite.svg#tourbine"></use>
                                                    </svg>
                                                </div>
                                                <div class="category__item--text">Категория 9</div>
                                            </div>
                                            <div class="category__item-arrow">
                                                <svg class="category__icon--arrow" width="9px" height="16px">
                                                    <use href="./images/sprite.svg#arrow"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    
                                        <li class="category__item">
                                            <div class="category__item--main">
                                                <div class="category__item-icon">
                                                    <svg class="category__icon" width="34px" height="34px">
                                                        <use href="./images/sprite.svg#zap4asti"></use>
                                                    </svg>
                                                </div>
                                                <div class="category__item--text">Категория 10</div>
                                            </div>
                                            <div class="category__item-arrow">
                                                <svg class="category__icon--arrow" width="9px" height="16px">
                                                    <use href="./images/sprite.svg#arrow"></use>
                                                </svg>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 p-0">
                        <form class="search">
                            <input class="search__input" type="text" name="search" placeholder="Поиск, например “тест”"/>
                            <button class="search__button" href="" >
                                <svg width="18px" height="18px">
                                    <use xlink:href="./images/sprite.svg#search"></use>
                                </svg>
                            </button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <div class="row p-0 g-0">
                            <div class="col-4">
                                <button class="button button--favorite" type="button" aria-label="Сравните товары">
                                    <svg width="30px" height="30px">
                                        <use xlink:href="./images/sprite.svg#balance"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="col-4">
                                <button class="button button--favorite" type="button" aria-label="Избраные товары">
                                    <svg width="30px" height="30px">
                                        <use xlink:href="./images/sprite.svg#heart"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="col-4">
                                <button class="button button--favorite button--favorite-right button--favorite--position" type="button" aria-label="Товары в корзине">
                                    <svg class="button__icon--position" width="30px" height="30px">
                                        <use xlink:href="./images/sprite.svg#shop-card"></use>
                                    </svg>
                                    <span class="button__badge">3</span>
                                    <div class="popup">
                                        <svg class="popup__bgc">
                                            <use xlink:href="./images/sprite.svg#shopping-card"></use>
                                        </svg>
                                    <div class="popup__text--block">
                                    <div class="popup__text">В корзине <span class="popup__quantity">3 товара</span></div>
                                    <div class="popup__text">На сумму <span class="popup__quantity">30 000</span> <span class="popup__card-currency">₴</span></div>
                                    <div class="col text-center mt-4">
                                        <a class="button button--shopcard button--border button--light" href="#">Оформить заказ 
                                            <svg width="30px" height="30px" fill="#fff">
                                                <use xlink:href="./images/sprite.svg#shop-card"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="col mt-4">
                                        <a class="button button--underline" href="#"><span class="button__name--big">Редактировать заказ</span></a>
                                    </div>
                                    </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="header__mobile">
            <div class="row justify-content-center  align-items-center">
                <div class="col-2 col-md-1">
                    <div class="menu menu--burger">
                        <button class="menu__btn-open js-open-menu" type="button">
                            <svg class="menu__icon" width="30px" height="25px">
                                <use xlink:href="./images/sprite.svg#menu"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="col-2 col-md-1">
                    <div class="logo--mobile">
                        <svg class="logo__icon" >
                            <use href="./images/sprite.svg#logo"></use>
                        </svg>
                    </div>
                </div>
                <div class="col-5 col-md-8">
                    <form class="search">
                        <input class="search__input" type="text" name="search" placeholder="Поиск, например “тест”"/>
                        <button class="search__button" href="" >
                            <svg width="18px" height="18px">
                                <use xlink:href="./images/sprite.svg#search"></use>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="col-1 text-end">
                    <button class="button button--favorite button--favorite-right-mobile button--favorite--position" type="button" aria-label="Товары в корзине">
                        <svg class="button__icon--position" width="30px" height="30px">
                            <use xlink:href="./images/sprite.svg#shop-card"></use>
                        </svg>
                        <span class="button__badge">3</span>
                        <div class="popup">
                            <svg class="popup__bgc">
                                <use xlink:href="./images/sprite.svg#shopping-card"></use>
                            </svg>
                        <div class="popup__text--block">
                        <div class="popup__text">В корзине <span class="popup__quantity">3 товара</span></div>
                        <div class="popup__text">На сумму <span class="popup__quantity">30 000</span> <span class="popup__card-currency">₴</span></div>
                        <div class="col text-center mt-2 mb-0">
                            <a class="button button--shopcard--popup button--border button--light" href="#">Оформить заказ 
                                <svg width="30px" height="30px" fill="#fff">
                                    <use xlink:href="./images/sprite.svg#shop-card"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="col">
                            <a class="button button--underline" href="#"><span class="button__name--big">Редактировать заказ</span></a>
                        </div>
                        </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="header__mobile-menu js-menu-container" data-menu>
                <div class="col">
                    <button class="button button--close js-close-menu" type="button" >
                        <svg width="40" height="40">
                            <use xlink:href="./images/sprite.svg#close"></use>
                        </svg>
                    </button>
                    <button class="button button--category js-open-category" type="button">Каталог</button>
                    <ul class="category--mobile js-category-mobile">
                        <li class="category__item js-category-item">
                            <div class="category__item--main">
                                <div class="category__item--icon">
                                    <svg class="category__icon" width="34px" height="34px">
                                        <use href="./images/sprite.svg#power"></use>
                                    </svg>
                                </div>
                                <div class="category__item--text">Категория 1</div>
                            </div>
                            <div class="category__icon-arrows">
                                <svg class="category__icon--arrow" width="9px" height="16px">
                                    <use href="./images/sprite.svg#arrow"></use>
                                </svg>
                            </div>
                        </li>
                    
                        <li class="category__item js-category-item">
                            <div class="category__item--main">
                                <div class="category__item-icon">
                                    <svg class="category__icon" width="34px" height="34px">
                                        <use href="./images/sprite.svg#cartridge"></use>
                                    </svg>
                                </div>
                                <div class="category__item--text">Категория 2</div>
                            </div>
                            <div class="category__item-arrow">
                                <svg class="category__icon--arrow" width="9px" height="16px">
                                    <use href="./images/sprite.svg#arrow"></use>
                                </svg>
                            </div>
                        </li>
                    
                        <li class="category__item js-category-item">
                            <div class="category__item--main">
                                <div class="category__item-icon">
                                    <svg class="category__icon" width="34px" height="34px">
                                        <use href="./images/sprite.svg#geometry"></use>
                                    </svg>
                                </div>
                                <div class="category__item--text">Категория 3</div>
                            </div>
                            <div class="category__item-arrow">
                                <svg class="category__icon--arrow" width="9px" height="16px">
                                    <use href="./images/sprite.svg#arrow"></use>
                                </svg>
                            </div>
                        </li>
                    
                        <li class="category__item js-category-item">
                            <div class="category__item--main">
                                <div class="category__item-icon">
                                    <svg class="category__icon" width="34px" height="34px">
                                        <use href="./images/sprite.svg#aktuators"></use>
                                    </svg>
                                </div>
                                <div class="category__item--text">Категория 4</div>
                            </div>
                            <div class="category__item-arrow">
                                <svg class="category__icon--arrow" width="9px" height="16px">
                                    <use href="./images/sprite.svg#arrow"></use>
                                </svg>
                            </div>
                        </li>
                    
                        <li class="category__item js-category-item">
                            <div class="category__item--main">
                                <div class="category__item-icon">
                                    <svg class="category__icon" width="34px" height="34px">
                                        <use href="./images/sprite.svg#servoprivod"></use>
                                    </svg>
                                </div>
                                <div class="category__item--text">Категория 5</div>
                            </div>
                            <div class="category__item-arrow">
                                <svg class="category__icon--arrow" width="9px" height="16px">
                                    <use href="./images/sprite.svg#arrow"></use>
                                </svg>
                            </div>
                        </li>
                    
                        <li class="category__item js-category-item">
                            <div class="category__item--main">
                                <div class="category__item-icon">
                                    <svg class="category__icon" width="34px" height="34px">
                                        <use href="./images/sprite.svg#prokladki"></use>
                                    </svg>
                                </div>
                                <div class="category__item--text">Категория 6</div>
                            </div>
                            <div class="category__item-arrow">
                                <svg class="category__icon--arrow" width="9px" height="16px">
                                    <use href="./images/sprite.svg#arrow"></use>
                                </svg>
                            </div>
                        </li>
                    
                        <li class="category__item js-category-item">
                            <div class="category__item--main">
                                <div class="category__item-icon">
                                    <svg class="category__icon" width="34px" height="34px">
                                        <use href="./images/sprite.svg#zap4astis"></use>
                                    </svg>
                                </div>
                                <div class="category__item--text">Категория 7</div>
                            </div>
                            <div class="category__item-arrow">
                                <svg class="category__icon--arrow" width="9px" height="16px">
                                    <use href="./images/sprite.svg#arrow"></use>
                                </svg>
                            </div>
                        </li>
                    
                        <li class="category__item js-category-item">
                            <div class="category__item--main">
                                <div class="category__item-icon">
                                    <svg class="category__icon" width="34px" height="34px">
                                        <use href="./images/sprite.svg#aktuator"></use>
                                    </svg>
                                </div>
                                <div class="category__item--text">Категория 8</div>
                            </div>
                            <div class="category__item-arrow">
                                <svg class="category__icon--arrow" width="9px" height="16px">
                                    <use href="./images/sprite.svg#arrow"></use>
                                </svg>
                            </div>
                        </li>
                    
                        <li class="category__item js-category-item">
                            <div class="category__item--main">
                                <div class="category__item-icon">
                                    <svg class="category__icon" width="34px" height="34px">
                                        <use href="./images/sprite.svg#tourbine"></use>
                                    </svg>
                                </div>
                                <div class="category__item--text">Категория 9</div>
                            </div>
                            <div class="category__item-arrow">
                                <svg class="category__icon--arrow" width="9px" height="16px">
                                    <use href="./images/sprite.svg#arrow"></use>
                                </svg>
                            </div>
                        </li>
                    
                        <li class="category__item">
                            <div class="category__item--main">
                                <div class="category__item-icon">
                                    <svg class="category__icon" width="34px" height="34px">
                                        <use href="./images/sprite.svg#zap4asti"></use>
                                    </svg>
                                </div>
                                <div class="category__item--text">Категория 10</div>
                            </div>
                            <div class="category__item-arrow">
                                <svg class="category__icon--arrow" width="9px" height="16px">
                                    <use href="./images/sprite.svg#arrow"></use>
                                </svg>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <nav>
                                <ul class="nav nav--mobile">
                                    <li  class="nav__item ">
                                        <a class="nav__link">О компании</a>
                                    </li>
                                    <li class="nav__item ">
                                        <a class="nav__link">Доставка и оплата</a>
                                    </li>
                                    <li class="nav__item ">
                                        <a class="nav__link">Гарантия</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-12">
                            <div class="phone">
                                <a class="phone__link" href="tel:+380680000000">+38 068 000 00 00</a>
                            </div>
                        </div>
                            </div>
                </div>
                <div class="col">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12">
                            <ul class="lang lang--mobile">
                                <li class="lang__item">
                                    <a class="lang__link">Ua</a>
                                </li>
                                <li class="lang__item">
                                    <a class="lang__link">Ru</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <button type="button" class="login">Войти
                                <svg class="login__icon" width="20px" height="20px">
                                    <use href="./images/sprite.svg#user"></use>
                                </svg>
                            </button>
                        </div>
                            </div>
                </div>
                <div class="col">
                    <button class="button button--favorite" type="button" aria-label="Сравните товары">
                        <svg width="30px" height="30px">
                            <use xlink:href="./images/sprite.svg#balance"></use>
                        </svg>
                    </button>
                    <button class="button button--favorite" type="button" aria-label="Избраные товары">
                        <svg width="30px" height="30px">
                            <use xlink:href="./images/sprite.svg#heart"></use>
                        </svg>
                    </button>
                    <button class="button button--favorite button--favorite--position favorite__btn-right" type="button" aria-label="Товары в корзине">
                        <svg class="button__icon--position" width="30px" height="30px">
                            <use xlink:href="./images/sprite.svg#shop-card"></use>
                        </svg>
                        <span class="button__badge">3</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>