<section class="hero">
    <div class="hero__container">
        <div class="hero__container-slider">
            <p class="breadcrumbs">Test — Каталог — Группа — Тестовый товар для верстки</p>
                <div class="slider-container">
                    <div class="thumbnail-slider">
                        <div class="slider-arrow thumbnail-prev">
                                <svg  width="28px" height="15px">
                                    <use href="./images/sprite.svg#arrow-big-top"></use>
                                </svg>
                        </div>
                        <div class="thumbnail-images">
                            <img class="thumbnail-image" src="./images/slider1@2x.jpg"  width="120px" height="120px" alt="Фото товара 1">
                            <img class="thumbnail-image" src="./images/slider2@2x.jpg" width="120px" height="120px" alt="Фото товара 2">
                            <img class="thumbnail-image" src="./images/slider3@2x.jpg" width="120px" height="120px" alt="Фото товара 3">
                            <img class="thumbnail-image" src="./images/slider4@2x.jpg" width="120px" height="120px" alt="Фото товара 4">
                        </div>
                        <div class="slider-arrow thumbnail-next">
                            <svg  width="28px" height="15px">
                                <use href="./images/sprite.svg#arrow-big-bottom"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="main-image">
                        <img src="./images/slider1@2x.jpg" width="580px" height="580px" alt="Image 1">
                    </div>
                </div>
        </div>
        <div class="hero__container-info">
            <div class="hero__box-first">
                <div class="hero__box-second">
                    <div class="products__available">
                        <svg class="icon-heart" width="20px" height="20px">
                            <use href="./images/sprite.svg#check"></use>
                        </svg>
                        <p class="products__available-text">В наличии</p>
                    </div>
                    <div class="average-rating" id="averageRating"></div>
                    <a class="total-reviews"  href="#reviews" id="totalReviews"></a>
                </div>
                <div class="artical">Артикул: <span>100500</span></div>
            </div>
            <div class="hero__box-sale">
                <div class="sale__box-part1">
                    <div class="sale__promotion">Акция </div>
                    <div class="sale__promotion-conditions">До 30 июля скидка — 20% на все тестовые товары</div>
                </div>
                <div class="sale__box-part2">
                    <p class="sale__price">3 799 <span>₴</span></p>
                    <div class="sale__discount">4 200 ₴ <div class="sale__line-through"></div></div>
                </div>
                <div class="sale__box-part3">
                    <button class="sale__btn-shopcard" type="button">В корзину
                        <svg class="icon-shop-card" width="30px" height="30px" fill="#fff" style="margin-left: 41px;">
                            <use xlink:href="./images/sprite.svg#shop-card"></use>
                        </svg>
                    </button>
                    <button class="sale__favorite-btn  sale__favorite-btn-not-border" type="button" aria-label="Сравните товары" style="margin-left: 10px;">
                        <svg class="icon-balance" width="30px" height="30px">
                            <use xlink:href="./images/sprite.svg#balance"></use>
                        </svg>
                    </button>
                    <button class="sale__favorite-btn" type="button" aria-label="Избраные товары" style="margin-right: 8px;">
                        <svg class="icon-heart" width="30px" height="30px">
                            <use xlink:href="./images/sprite.svg#heart"></use>
                        </svg>
                    </button>
                    <button class="sale__btn-buy" type="button">
                        <svg class="icon-call" width="30px" height="30px">
                            <use xlink:href="./images/sprite.svg#call"></use>
                        </svg>
                        Купить в <br>1 клик
                    </button>
                </div>
            </div>
            <div class="hero__box-info">
                <div class="info__box-terms">
                    <div class="info__box-terms-show" >
                        <div class="terms__title">
                            <svg  width="20px" height="20px" style="margin-right: 8px;">
                                <use href="./images/sprite.svg#shield"></use>
                            </svg>
                            Гарантия
                        </div>
                        <button class="terms__btn-show" type="button">
                            <svg class="arrow-icon"  width="8px" height="5px" >
                                <use href="./images/sprite.svg#path"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="terms__text">Вся товары имеют сертификаты и гарантии от производителя. Вернуть можно в течении 14 дней после покупки.</div>
                </div>
                <div class="info__box-terms">
                    <div class="info__box-terms-show" >
                        <div class="terms__title">
                            <svg width="20px" height="20px" style="margin-right: 8px;">
                                <use href="./images/sprite.svg#delivery"></use>
                            </svg>
                            Условия доставки
                        </div>
                        <button class="terms__btn-show" type="button">
                            <svg class="arrow-icon"  width="8px" height="5px" >
                                <use href="./images/sprite.svg#path"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="terms__text">Доставка заказа по Украине осуществляется числом, которое Вы определяете с оператором при подтверждении заказа. В оформленном Вами заказе могут содержаться товарные позиции, которых в момент сборки заказа не окажется в наличии на складе. По Вашему желанию мы можем доставить Вам заказ частично, удалив из заказа отсутствующие на складе позиции.</div>
                </div>
                <div class="info__box-terms">
                    <div class="info__box-terms-show">
                        <div class="terms__title">
                            <svg width="20px" height="20px" style="margin-right: 8px;">
                                <use href="./images/sprite.svg#credit-card"></use>
                            </svg>
                            Условия оплаты</div>
                            <button class="terms__btn-show" type="button">
                                <svg class="arrow-icon"  width="8px" height="5px" >
                                    <use href="./images/sprite.svg#path"></use>
                                </svg>
                            </button>
                    </div>
                    <div class="terms__text">Оплата при получении товара, Оплата картой в отделении, Картой онлайн, Google Pay, -5% скидки при оплате от 500 грн картой Mastercard Универсальная/Универсальная Gold от ПриватБанк, Безналичными для юридических лиц, Оплатить онлайн социальной картой "Пакунок малюка", Безналичными для физических лиц, Apple Pay, Mastercard, Оплатить онлайн картой "єПідтримка", Visa.</div>
                </div>
            </div>
        </div>
    </div>
</section>