<section class="hero">
    <div class="hero__container container">
        <div class="hero__container-slider">
            <div class="breadcrumbs">
                <a class="breadcrumbs__link" href="#">Test</a> — <a class="breadcrumbs__link" href="#">Каталог</a> — <a class="breadcrumbs__link" href="#">Группа</a> — Тестовый товар для верстки
            </div>
                <div class="slider__section">
                    <div id="slide-wrapper" >
                        <svg  width="28px" height="15px" id="slideTop" class="arrow inactive" style="margin-bottom: 20px">
                            <use href="./images/sprite.svg#arrow-big-top"></use>
                        </svg>
                        <div id="slider">
                            <img class="thumbnail active" src="./images/slider1.jpg">
                            <img class="thumbnail" src="./images/slider2.jpg">
                            <img class="thumbnail" src="./images/slider3.jpg">
                            <img class="thumbnail" src="./images/slider4.jpg">
                            <img class="thumbnail" src="./images/slider5.jpg">
                            <img class="thumbnail" src="./images/slider6.jpg">
            
                </div>
                    <svg width="28px" height="15px" id="slideBottom" class="arrow"  style="margin-top: 20px">
                        <use href="./images/sprite.svg#arrow-big-bottom"></use>
                    </svg>		
                </div>
                    
            <img id="featured" src="./images/slider1.jpg">
            </div>
            <div class="slider__section-mobile">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img class="thumbnail" src="./images/slider1.jpg"></div>
                        <div class="swiper-slide"><img class="thumbnail" src="./images/slider2.jpg"></div>
                        <div class="swiper-slide"><img class="thumbnail" src="./images/slider3.jpg"></div>
                        <div class="swiper-slide"><img class="thumbnail" src="./images/slider4.jpg"></div>
                        <div class="swiper-slide"><img class="thumbnail" src="./images/slider5.jpg"></div>
                        <div class="swiper-slide"><img class="thumbnail" src="./images/slider6.jpg"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>

        
        <div class="hero__container-info">
            <div class="hero__box-first">
                <div class="hero__box-second">
                    <div class="products__available">
                        <svg class="icon-heart" width="20px" height="20px">
                            <use href="./images/sprite.svg#check"></use>
                        </svg>
                        <p class="products__available-text">В наличии</p>
                    </div>
                    <div class="average-rating" id="averageRating"></div>
                    <a class="total-reviews"  href="#reviews" id="totalReviews"></a>
                </div>
                <div class="artical">Артикул: <span>100500</span></div>
            </div>
            <div class="hero__box-sale">
                <div class="sale__box-part1">
                    <div class="sale__promotion">Акция </div>
                    <div class="sale__promotion-conditions">До 30 июля скидка — 20% на все тестовые товары</div>
                </div>
                <div class="sale__box-part2">
                    <p class="sale__price">3 799 <span>₴</span></p>
                    <div class="sale__discount">4 200 ₴ <div class="sale__line-through"></div></div>
                </div>
                <div class="sale__box-part3">
                    <button class="sale__btn-shopcard" type="button">В корзину
                        <svg class="icon-shop-card" fill="#fff">
                            <use xlink:href="./images/sprite.svg#shop-card"></use>
                        </svg>
                    </button>
                    <div class="sale__favorite-block">
                        <button class="sale__favorite-btn  sale__favorite-btn-not-border" type="button" aria-label="Сравните товары" >
                        <svg class="icon-balance">
                            <use xlink:href="./images/sprite.svg#balance"></use>
                        </svg>
                    </button>
                    <button class="sale__favorite-btn sale__favorite-btn-border" type="button" aria-label="Избраные товары" >
                        <svg class="icon-heart" >
                            <use xlink:href="./images/sprite.svg#heart"></use>
                        </svg>
                    </button>
                    </div>
                    <button class="sale__btn-buy" type="button">
                        <svg class="icon-call">
                            <use xlink:href="./images/sprite.svg#call"></use>
                        </svg>
                        Купить в <br>1 клик
                    </button>
                </div>
            </div>
            <div class="hero__box-info">
                <div class="info__box-terms">
                    <div class="info__box-terms-show" >
                        <div class="terms__title">
                            <svg  width="20px" height="20px" style="margin-right: 8px;">
                                <use href="./images/sprite.svg#shield"></use>
                            </svg>
                            Гарантия
                        </div>
                        <button class="terms__btn-show" type="button">
                            <svg class="arrow-icon"  width="8px" height="5px" >
                                <use href="./images/sprite.svg#path"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="terms__text">Вся товары имеют сертификаты и гарантии от производителя. Вернуть можно в течении 14 дней после покупки.</div>
                </div>
                <div class="info__box-terms">
                    <div class="info__box-terms-show" >
                        <div class="terms__title">
                            <svg width="20px" height="20px" style="margin-right: 8px;">
                                <use href="./images/sprite.svg#delivery"></use>
                            </svg>
                            Условия доставки
                        </div>
                        <button class="terms__btn-show" type="button">
                            <svg class="arrow-icon"  width="8px" height="5px" >
                                <use href="./images/sprite.svg#path"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="terms__text">Доставка заказа по Украине осуществляется числом, которое Вы определяете с оператором при подтверждении заказа. В оформленном Вами заказе могут содержаться товарные позиции, которых в момент сборки заказа не окажется в наличии на складе. По Вашему желанию мы можем доставить Вам заказ частично, удалив из заказа отсутствующие на складе позиции.</div>
                </div>
                <div class="info__box-terms">
                    <div class="info__box-terms-show">
                        <div class="terms__title">
                            <svg width="20px" height="20px" style="margin-right: 8px;">
                                <use href="./images/sprite.svg#credit-card"></use>
                            </svg>
                            Условия оплаты</div>
                            <button class="terms__btn-show" type="button">
                                <svg class="arrow-icon"  width="8px" height="5px" >
                                    <use href="./images/sprite.svg#path"></use>
                                </svg>
                            </button>
                    </div>
                    <div class="terms__text">Оплата при получении товара, Оплата картой в отделении, Картой онлайн, Google Pay, -5% скидки при оплате от 500 грн картой Mastercard Универсальная/Универсальная Gold от ПриватБанк, Безналичными для юридических лиц, Оплатить онлайн социальной картой "Пакунок малюка", Безналичными для физических лиц, Apple Pay, Mastercard, Оплатить онлайн картой "єПідтримка", Visa.</div>
                </div>
            </div>
        </div>
    </div>
</section>