<div class="menu ">
    <div class="menu__container container">
    <div>
        <div class="menu__btn-block">
            <button class="menu__btn-burger" type="button">
                <svg class="icon__menu" width="30px" height="25px">
                    <use xlink:href="./images/sprite.svg#menu"></use>
                </svg>
                <svg class=" icon__close hidden">
                    <use xlink:href="./images/sprite.svg#close"></use>
                </svg>
            </button>
            <ul class="menu__list">
                <li class="menu__item">
                    <button class="menu__catalog" type="button">Каталог</button>
                </li>
                <li  class="nav__item menu__item">
                    <a class="nav__link">О компании</a>
                </li>
                <li class="nav__item menu__item">
                    <a class="nav__link">Доставка и оплата</a>
                </li>
                <li class="nav__item menu__item">
                    <a class="nav__link">Гарантия</a>
                </li>
                <li class="menu__item">
                    <button class="header__favorite-btn menu__favorite-btn" type="button" aria-label="Сравните товары">
                        <svg class="icon-balance" width="20px" height="20px">
                            <use xlink:href="./images/sprite.svg#balance"></use>
                        </svg><span class="menu__span-text">Сравнить товар</span>
                    </button>
                </li>
                <li class="menu__item">
                    <button class="header__favorite-btn menu__favorite-btn" type="button" aria-label="Избраные товары">
                        <svg class="icon-heart" width="20px" height="20px">
                            <use xlink:href="./images/sprite.svg#heart"></use>
                        </svg><span class="menu__span-text">В избранное</span>
                    </button>
                </li>
                <li class="menu__item">
                    <button class="header__favorite-btn menu__favorite-btn" type="button" aria-label="Товары в корзине">
                        <svg class="icon-shop-card" width="20px" height="20px">
                            <use xlink:href="./images/sprite.svg#shop-card"></use>
                        </svg><span class="menu__span-text">Корзина</span>
                    </button>
                </li>
                <li class="menu__item"><a class="header__phone" href="tel:+380680000000">+38 068 000 00 00</a></li>
                <li class="menu__item">
                    <ul class="menu__lang">
                        <li class="lang__item">
                            <a class="lang__link">Ua</a>
                        </li>
                        <li class="lang__item">
                            <a class="lang__link">Ru</a>
                        </li>
                    </ul>
            </li class="menu__item">
                <li class="menu__item menu__btn-login">
                    <button type="button" class="header__bnt-login ">Войти
                        <svg class="icon__user" width="30px" height="30px">
                            <use href="./images/sprite.svg#user"></use>
                        </svg>
                    </button>
                </li>
            </ul>
            <ul class="category__items">
                <li class="catalog__item">
                    <div class="catalog__item-main">
                        <div class="catalog__item-icon">
                            <svg class="categories-items" width="34px" height="34px">
                                <use href="./images/sprite.svg#power"></use>
                            </svg>
                        </div>
                        <div class="catalog__item-text">Категория 1</div>
                    </div>
                    <div class="catalog__item-arrow">
                        <svg class="categories-arrows" width="9px" height="16px">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg>
                    </div>
                </li>
            
                <li class="catalog__item">
                    <div class="catalog__item-main">
                        <div class="catalog__item-icon">
                            <svg class="categories-items" width="34px" height="34px">
                                <use href="./images/sprite.svg#cartridge"></use>
                            </svg>
                        </div>
                        <div class="catalog__item-text">Категория 2</div>
                    </div>
                    <div class="catalog__item-arrow">
                        <svg class="categories-arrows" width="9px" height="16px">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg>
                    </div>
                </li>
            
                <li class="catalog__item">
                    <div class="catalog__item-main">
                        <div class="catalog__item-icon">
                            <svg class="categories-items" width="34px" height="34px">
                                <use href="./images/sprite.svg#geometry"></use>
                            </svg>
                        </div>
                        <div class="catalog__item-text">Категория 3</div>
                    </div>
                    <div class="catalog__item-arrow">
                        <svg class="categories-arrows" width="9px" height="16px">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg>
                    </div>
                </li>
            
                <li class="catalog__item">
                    <div class="catalog__item-main">
                        <div class="catalog__item-icon">
                            <svg class="categories-items" width="34px" height="34px">
                                <use href="./images/sprite.svg#aktuators"></use>
                            </svg>
                        </div>
                        <div class="catalog__item-text">Категория 4</div>
                    </div>
                    <div class="catalog__item-arrow">
                        <svg class="categories-arrows" width="9px" height="16px">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg>
                    </div>
                </li>
            
                <li class="catalog__item">
                    <div class="catalog__item-main">
                        <div class="catalog__item-icon">
                            <svg class="categories-items" width="34px" height="34px">
                                <use href="./images/sprite.svg#servoprivod"></use>
                            </svg>
                        </div>
                        <div class="catalog__item-text">Категория 5</div>
                    </div>
                    <div class="catalog__item-arrow">
                        <svg class="categories-arrows" width="9px" height="16px">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg>
                    </div>
                </li>
            
                <li class="catalog__item">
                    <div class="catalog__item-main">
                        <div class="catalog__item-icon">
                            <svg class="categories-items" width="34px" height="34px">
                                <use href="./images/sprite.svg#prokladki"></use>
                            </svg>
                        </div>
                        <div class="catalog__item-text">Категория 6</div>
                    </div>
                    <div class="catalog__item-arrow">
                        <svg class="categories-arrows" width="9px" height="16px">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg>
                    </div>
                </li>
            
                <li class="catalog__item">
                    <div class="catalog__item-main">
                        <div class="catalog__item-icon">
                            <svg class="categories-items" width="34px" height="34px">
                                <use href="./images/sprite.svg#zap4astis"></use>
                            </svg>
                        </div>
                        <div class="catalog__item-text">Категория 7</div>
                    </div>
                    <div class="catalog__item-arrow">
                        <svg class="categories-arrows" width="9px" height="16px">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg>
                    </div>
                </li>
            
                <li class="catalog__item">
                    <div class="catalog__item-main">
                        <div class="catalog__item-icon">
                            <svg class="categories-items" width="34px" height="34px">
                                <use href="./images/sprite.svg#aktuator"></use>
                            </svg>
                        </div>
                        <div class="catalog__item-text">Категория 8</div>
                    </div>
                    <div class="catalog__item-arrow">
                        <svg class="categories-arrows" width="9px" height="16px">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg>
                    </div>
                </li>
            
                <li class="catalog__item">
                    <div class="catalog__item-main">
                        <div class="catalog__item-icon">
                            <svg class="categories-items" width="34px" height="34px">
                                <use href="./images/sprite.svg#tourbine"></use>
                            </svg>
                        </div>
                        <div class="catalog__item-text">Категория 9</div>
                    </div>
                    <div class="catalog__item-arrow">
                        <svg class="categories-arrows" width="9px" height="16px">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg>
                    </div>
                </li>
            
                <li class="catalog__item">
                    <div class="catalog__item-main">
                        <div class="catalog__item-icon">
                            <svg class="categories-items" width="34px" height="34px">
                                <use href="./images/sprite.svg#zap4asti"></use>
                            </svg>
                        </div>
                        <div class="catalog__item-text">Категория 10</div>
                    </div>
                    <div class="catalog__item-arrow">
                        <svg class="categories-arrows" width="9px" height="16px">
                            <use href="./images/sprite.svg#arrow"></use>
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <svg class="icon__logo" >
            <use href="./images/sprite.svg#logo"></use>
        </svg>
    </div>
    <form class="header__search-form">
        <input class="header__search-input" type="text" name="search" placeholder="Поиск, например “тест”"/>
        <a class="header__search-button" href="" >
            <svg class="icon-search" width="18px" height="18px">
                <use xlink:href="./images/sprite.svg#search"></use>
            </svg>
        </a>
    </form>
    <button class=" cart-button menu__card-button" type="button" aria-label="Товары в корзине">
        <svg class="icon-shop-card" width="30px" height="30px">
            <use xlink:href="./images/sprite.svg#shop-card"></use>
        </svg>
        <span class="shop__card-badge">3</span>
        <div class="shop__card">
            <svg class="shop__card-bgc">
                <use xlink:href="./images/sprite.svg#shopping-card"></use>
            </svg>
            <div class="shop__card-info">
                <p class="shop__card-text">В корзине <span class="shop__card-quantity">3 товара</span></p>
                <p class="shop__card-text">На сумму <span class="shop__card-quantity">30 000</span> <span class="shop__card-currency">₴</span></p>
                <a class="order__btn-hover" href="">Оформить заказ 
                    <svg class="icon-shop-card" width="30px" height="30px" fill="#fff" style="margin-left: 16px;">
                        <use xlink:href="./images/sprite.svg#shop-card"></use>
                    </svg>
                </a>
                <a class="shop__card-edit" href="">Редактировать заказ</a>
            </div>
        </div>
    </button>
    </div>
</div>