<section class="products">
    <div class="products__container container">
        <h2 class="title">Тестовые товары</h2>
        <ul class="products__list">
            <li class="products__item">
                <div>
                    <div class="product__flag-top">top</div>
                    <button class="product__btn-favorite" type="button" aria-label="Додати в избраные товары">
                        <svg class="icon-heart" width="30px" height="30px">
                            <use href="./images/sprite.svg#heart"></use>
                        </svg>
                    </button>
                    <img class="product__img" srcset="./images/product1.jpg 1x,  ./images/product1@2x.jpg 2x" src="./images/product1.jpg" alt="Товар" />
                    <div class="products__item-info">
                        <div class="product__raiting">
                            <ul class="raiting__list">
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800" style="opacity: 0.5;">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800" style="opacity: 0.5;">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                            </ul>
                            <p class="raiting__count">3</p>
                        </div>
                    <h3 class="products__item-title">Group</h3>
                    <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit</p>
                    <div class="products__box-price">
                        <p class="products__price">3 799 <span class="products__price-span">₴</span></p>
                    <div class="products__available">
                        <svg class="icon-heart" width="20px" height="20px">
                            <use href="./images/sprite.svg#check"></use>
                        </svg>
                        <p class="products__available-text">В наличии</p>
                    </div>
                    </div>
                </div>
                </div>
            </li>
            <li class="products__item">
                <div>
                    <div class="product__flag-top-new">new</div>
                    <button class="product__btn-favorite" type="button" aria-label="Додати в избраные товары">
                        <svg class="icon-heart" width="30px" height="30px">
                            <use href="./images/sprite.svg#heart"></use>
                        </svg>
                    </button>
                    <img class="product__img" srcset="./images/product1.jpg 1x,  ./images/product1@2x.jpg 2x" src="./images/product1.jpg" alt="Товар" />
                    <div class="products__item-info">
                        <div class="product__raiting">
                            <ul class="raiting__list">
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800" style="opacity: 0.5;">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                            </ul>
                            <p class="raiting__count">44</p>
                        </div>
                    <h3 class="products__item-title">Group</h3>
                    <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <div class="products__box-price">
                        <p class="products__price">711 <span class="products__price-span">₴</span></p>
                    <div class="products__available">
                        <svg class="icon-heart" width="20px" height="20px">
                            <use href="./images/sprite.svg#check"></use>
                        </svg>
                        <p class="products__available-text">В наличии</p>
                    </div>
                    </div>
                </div>
                </div>
            </li>
            <li class="products__item">
                <div>
                    <div class="product__flag-top">top</div>
                    <button class="product__btn-favorite" type="button" aria-label="Додати в избраные товары">
                        <svg class="icon-heart" width="30px" height="30px">
                            <use href="./images/sprite.svg#heart"></use>
                        </svg>
                    </button>
                    <img class="product__img" srcset="./images/product2.jpg 1x,  ./images/product2@2x.jpg 2x" src="./images/product2.jpg" alt="Товар" />
                    <div class="products__item-info">
                        <div class="product__raiting">
                            <ul class="raiting__list">
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800" style="opacity: 0.5;">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800" style="opacity: 0.5;">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800" style="opacity: 0.5;">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                            </ul>
                            <p class="raiting__count">11</p>
                        </div>
                    <h3 class="products__item-title">Group</h3>
                    <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <div class="products__box-price">
                        <p class="products__price">22 105 <span class="products__price-span">₴</span></p>
                    <div class="products__available">
                        <svg class="icon-heart" width="20px" height="20px">
                            <use href="./images/sprite.svg#check"></use>
                        </svg>
                        <p class="products__available-text">В наличии</p>
                    </div>
                    </div>
                </div>
                </div>
            </li>
            <li class="products__item">
                <div>
                    <button class="product__btn-favorite" type="button" aria-label="Додати в избраные товары">
                        <svg class="icon-heart" width="30px" height="30px">
                            <use href="./images/sprite.svg#heart"></use>
                        </svg>
                    </button>
                    <img class="product__img" srcset="./images/product1.jpg 1x,  ./images/product1@2x.jpg 2x" src="./images/product1.jpg" alt="Товар" />
                    <div class="products__item-info">
                        <div class="product__raiting">
                            <ul class="raiting__list">
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800" style="opacity: 0.5;">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                            </ul>
                            <p class="raiting__count">76</p>
                        </div>
                    <h3 class="products__item-title">Group</h3>
                    <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <div class="products__box-price">
                        <p class="products__price">158 <span class="products__price-span">₴</span></p>
                    <div class="products__available">
                        <svg class="icon-heart" width="20px" height="20px">
                            <use href="./images/sprite.svg#check"></use>
                        </svg>
                        <p class="products__available-text">В наличии</p>
                    </div>
                    </div>
                </div>
                </div>
            </li>
            <li class="products__item">
                <div>
                    <div class="product__flag-top-new">new</div>
                    <button class="product__btn-favorite" type="button" aria-label="Додати в избраные товары">
                        <svg class="icon-heart" width="30px" height="30px">
                            <use href="./images/sprite.svg#heart"></use>
                        </svg>
                    </button>
                    <img class="product__img" srcset="./images/product1.jpg 1x,  ./images/product1@2x.jpg 2x" src="./images/product1.jpg" alt="Товар" />
                    <div class="products__item-info">
                        <div class="product__raiting">
                            <ul class="raiting__list">
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                                <li class="raiting__item">
                                    <svg  width="14px" height="14px" fill="#FFA800" style="opacity: 0.5;">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg>
                                </li>
                            </ul>
                            <p class="raiting__count">2</p>
                        </div>
                    <h3 class="products__item-title">Group</h3>
                    <p class="products__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <div class="products__box-price">
                        <p class="products__price">1 000 <span class="products__price-span">₴</span></p>
                    <div class="products__available">
                        <svg class="icon-heart" width="20px" height="20px">
                            <use href="./images/sprite.svg#check"></use>
                        </svg>
                        <p class="products__available-text">В наличии</p>
                    </div>
                    </div>
                </div>
                </div>
            </li>
        </ul>
    </div>
</section>