<section class="product">
    <div class="container">
        <div class="row mb-4 justify-content-center">
            <div class="col-10 col-sm-9 col-xl-12 text-start">
                <h2 class="title">Тестовые товары</h2>
            </div>
        </div>
        <ul class="row gap-3 gap-xl-2 justify-content-center">
            <li class="col-7 col-md-4 col-xl-auto p-0">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <div class="flag flag--top"><span class="flag__text">top</span></div>
                        </div>
                        <div class="col">
                            <button class="button button--heart js-btn-heart" type="button" aria-label="Додати в избраные товары">
                                <svg width="30px" height="30px">
                                    <use href="./images/sprite.svg#heart"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="col-12 align-items-center">
                            <img srcset="./images/product1.jpg 1x,  ./images/product1@2x.jpg 2x" src="./images/product1.jpg" alt="Товар" />
                        </div>
                        <div class="col-11 m-3 mt-0">
                        <div class="col-12">
                            <div class="stars" data-rating="3">
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                        <use href="./images/sprite.svg#star"></use>
                                        </svg></div>  
                                        <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                            <use href="./images/sprite.svg#star"></use>
                                        </svg></div> 
                                        <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                            <use href="./images/sprite.svg#star"></use>
                                        </svg></div>  
                                        <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                            <use href="./images/sprite.svg#star"></use>
                                        </svg></div>  
                                        <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px" >
                                            <use href="./images/sprite.svg#star"></use>
                                        </svg></div>
                                        <div class="stars__item-count">3</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="title title--color title--small">Group</div>
                        </div>
                        <div class="col-12">
                            <div class="text text--dark-blue text--blur">Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit</div>
                        </div>
                        <div class="row align-items-center m-1">
                            <div class="col-6 p-0">
                                <div class="price">
                                    <span class="price__text price__text-bolt">3 799 </span>
                                    <span class=" price__text price__text-regular">₴</span>
                                </div>
                            </div>
                            <div class="col-11 mt-2 col-xl-6 mt-xl-0 p-0">
                                <div class="availability">
                                    <svg class="availability__icon" width="20px" height="20px">
                                        <use href="./images/sprite.svg#check"></use>
                                    </svg>
                                    <div class="availability__text">В наличии</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </li>
            <li class="col-7 col-md-4 col-xl-auto p-0">
                <div class="card">
                <div class="row">
                    <div class="col">
                        <div class="flag flag--new"><span class="flag__text">new</span></div>
                    </div>
                    <div class="col">
                        <button class="button button--heart js-btn-favorite" type="button" aria-label="Додати в избраные товары">
                            <svg width="30px" height="30px">
                                <use href="./images/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="col-12 align-items-center">
                        <img srcset="./images/product1.jpg 1x,  ./images/product1@2x.jpg 2x" src="./images/product1.jpg" alt="Товар" />
                    </div>
                    <div class="col-11 m-3 mt-0">
                    <div class="col-12">
                            <div class="stars" data-rating="4">
                                <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                    <use href="./images/sprite.svg#star"></use>
                                    </svg></div>  
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div> 
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div>  
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div>  
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px" >
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div>
                                    <div class="stars__item-count">44</div>
                            </div>
                    </div>
                    <div class="col-12">
                        <div class="title title--color title--small">Group</div>
                    </div>
                    <div class="col-12">
                        <div class="text text--blur text--dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                    </div>
                    <div class="row align-items-center m-1">
                        <div class="col-6 p-0">
                            <div class="price">
                                <span class="price__text price__text-bolt">711 </span>
                                <span class=" price__text price__text-regular">₴</span>
                            </div>
                        </div>
                        <div class="col-11 mt-2 col-xl-6 mt-xl-0 p-0">
                            <div class="availability">
                                <svg class="availability__icon" width="20px" height="20px">
                                    <use href="./images/sprite.svg#check"></use>
                                </svg>
                                <div class="availability__text">В наличии</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </li>
            <li class="col-7 col-md-4 col-xl-auto p-0">
                <div class="card">
                <div class="row">
                    <div class="col">
                        <div class="flag flag--top">
                            <span class="flag__text">top</span>
                        </div>
                    </div>
                    <div class="col">
                        <button class="button button--heart js-btn-favorite" type="button" aria-label="Додати в избраные товары">
                            <svg width="30px" height="30px">
                                <use href="./images/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="col-12 align-items-center">
                        <img srcset="./images/product2.jpg 1x,  ./images/product2@2x.jpg 2x" src="./images/product2.jpg" alt="Товар" />
                    </div>
                    <div class="col-11 m-3 mt-0">
                    <div class="col-12">
                            <div class="stars" data-rating="2">
                                <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                    <use href="./images/sprite.svg#star"></use>
                                    </svg></div>  
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div> 
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div>  
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div>  
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px" >
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div>
                                    <div class="stars__item-count">11</div>
                            </div>
                    </div>
                    <div class="col-12">
                        <div class="title title--color title--small">Group</div>
                    </div>
                    <div class="col-12">
                        <div class="text text--blur text--dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                    </div>
                    <div class="row align-items-center m-1">
                        <div class="col-6 p-0">
                            <div class="price">
                                <span class="price__text price__text-bolt">22 105 </span>
                                <span class=" price__text price__text-regular">₴</span>
                            </div>
                        </div>
                        <div class="col-11 mt-2 col-xl-6 mt-xl-0 p-0">
                            <div class="availability">
                                <svg class="availability__icon" width="20px" height="20px">
                                    <use href="./images/sprite.svg#check"></use>
                                </svg>
                                <div class="availability__text">В наличии</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </li>
            <li class="col-7 col-md-4 col-xl-auto p-0">
                <div class="card">
                <div class="row">
                    <div class="col">
                        <button class="button button--heart js-btn-favorite" type="button" aria-label="Додати в избраные товары">
                            <svg width="30px" height="30px">
                                <use href="./images/sprite.svg#heart"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="col-12 align-items-center">
                        <img srcset="./images/product1.jpg 1x,  ./images/product1@2x.jpg 2x" src="./images/product1.jpg" alt="Товар" />
                    </div>
                    <div class="col-11 m-3 mt-0">
                    <div class="col-12">
                            <div class="stars" data-rating="4">
                                <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                    <use href="./images/sprite.svg#star"></use>
                                    </svg></div>  
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div> 
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div>  
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px">
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div>  
                                    <div class="stars__item"><svg viewBox="0 0 34 32" width="14px" height="14px" >
                                        <use href="./images/sprite.svg#star"></use>
                                    </svg></div>
                                    <div class="stars__item-count">76</div>
                            </div>
                    </div>
                    <div class="col-12">
                        <div class="title title--color title--small">Group</div>
                    </div>
                    <div class="col-12">
                        <div class="text text--blur text--dark-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                    </div>
                    <div class="row align-items-center m-1">
                        <div class="col-6 p-0">
                            <div class="price">
                                <span class="price__text price__text-bolt">158 </span>
                                <span class=" price__text price__text-regular">₴</span>
                            </div>
                        </div>
                        <div class="col-11 mt-2 col-xl-6 mt-xl-0 p-0">
                            <div class="availability">
                                <svg class="availability__icon" width="20px" height="20px">
                                    <use href="./images/sprite.svg#check"></use>
                                </svg>
                                <div class="availability__text">В наличии</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </li>
        </ul>
    </div>
</section>