<section class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 text-center">
                <div class="title title--white">Нужна помощь в подборе товара? Мы перезваниваем!</div>
            </div>
        </div>
        <div class="row justify-content-center align-content-center">
                <div class="col-10 col-md-5 col-lg-5 col-xl-3 p-0">
                    <div class="input">
                        <input class="input--telephone js-telephone" name="tel" type="tel" placeholder="+38 (0XX) XX - XX - XXX"/>
                    </div>
                </div>
                <div class="col-10 col-md-4 col-lg-3 col-xl-2 p-0">
                    <button class="button button--submit" type="submit">
                        <span class="button__text">Отправить</span>
                    </button>
                </div>
            </div>
    </div>
</section>