.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    fill: $permanent-dark-blue;
}
.arrow-mobile{
    padding: 0;
}

.arrow:hover{
    fill: $green;
}

.arrow.inactive:hover {
    fill: $permanent-dark-blue;
    cursor: default;
}