.breadcrumbs{
    color: $permanent-dark-blue;
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.5;
    color: #33485D;
    padding-top: 20px;
    padding-bottom: 13px;
    &__link{
        &:hover{
            border-bottom: 1px solid $permanent-blue-smoke;
        }
    }
}