.favorite__btn{
    border-top: 2px solid $permanent-smoke-yellow;
    border-bottom: 2px solid $permanent-smoke-yellow;
    border-right: none;
    border-left: none;
    padding: 13px 28px 11px 27px;
    background-color: inherit;
    &:nth-child(2n+1) {
        border: 2px solid $permanent-smoke-yellow;
    }

    &:hover{
        background-color: $permanent-dark-mint-biruza;
        border-top: 2px solid $permanent-dark-mint-biruza;
        border-bottom: 2px solid $permanent-dark-mint-biruza;
        fill: $white;
        &:nth-child(2n+1) {
            border: 2px solid $permanent-dark-mint-biruza;
        }
    }
}

.favorite__btn-right{
    border-top-right-radius: 10px;
    fill:#33485d;

    &:hover{
        background-color: $permanent-dark-mint-biruza;
        border: 2px solid $permanent-dark-mint-biruza;
        fill: $white;

        span{
            background-color: $white;
            border: 2px solid $white;
        }
    }
}