.button{
    cursor: pointer;

    &--shopcard--popup{
        display: flex;
        align-items: center;
        background-color: $green;
        border: none;
        color: $white;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        border-bottom-left-radius: 10px;
        height: 60px;
        padding: 10px;
        svg{
            margin-left: 20px;
        }
        
        &:hover{
            background-color: $permanent-dark-mint-biruza;
        }
    }
    &--shopcard {
    display: flex;
    align-items: center;
    background-color: $green;
    border: none;
    color: $white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    border-bottom-left-radius: 10px;
    height: 60px;
    padding: 10px;
    
    svg{
        margin-left: 20px;
    }

    &:hover{
        background-color: $permanent-dark-mint-biruza;
    }
    @media screen and (max-width: 768px) {
        font-size: 0;
        svg{
            margin: 10px;
        }
    }
    @media screen and (max-width: 1200px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 1400px) {
        font-size: 24px;
        padding: 15px;
    }
}
    &--border{
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    &--light{
        background-color: $permanent-dark-mint-biruza;
        &:hover{
            background-color: $green;
        }
    }
}