.edit__btn{
    color: $permanent-dark-blue;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2; 
    border-bottom: 1px solid $permanent-blue-smoke;
    transition: color 0.3s ease;
    &:hover{
        color: $permanent-btn-yellow;
        border-bottom: 1px solid $permanent-btn-yellow;
    }
}