.button__menu{
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    background-color: inherit;
    color: $white;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;
    transition: transform 0.5s ease;
    &:hover{
        transform: scale(1.05);
    }   
    @media screen and (min-width: 1200px) {
        svg{
            margin-right: 20px;
        }
    }

    &--subtitle{
        display: none;
        @media screen and (min-width: 1200px) {
            display: block;
        }
    }
}


