.button{
    cursor: pointer;
    &--favorite{
        border: 2px solid $permanent-smoke-yellow;
        background-color: transparent;
        padding: 13.5px;
        margin: 0;
        &:hover{
            background-color: $permanent-dark-mint-biruza;
            border: 2px solid $permanent-dark-mint-biruza;
            fill: $white;
        }
        @media screen and (min-width: 768px) {
            padding: 13.5px;
        }
        @media screen and (min-width: 992px) {
            padding: 13.5px 28px;
        }
        @media screen and (min-width: 1200px) {
            padding: 13.5px 20px;
        }
        @media screen and (min-width: 1400px) {
            padding: 13.5px 28px;
        }
        &-right{
            border-top-right-radius: 10px;
            fill:#33485d;
        
            &:hover{
                background-color: $permanent-dark-mint-biruza;
                border: 2px solid $permanent-dark-mint-biruza;
                fill: $white;
        
                span{
                    background-color: $white;
                    border: 2px solid $white;
                }
            }
            &-mobile{
                display: none;
                @media screen and (min-width: 480px) {
                    display: block;
                    border-top-right-radius: 10px;
                }
                @media screen and (min-width: 1200px) {
                    display: none;
                }
            }
        }
    }
}


