.card{
    position: relative;
    height: 470px;
    max-width: 276px;
    border: 2px solid $green;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 6px 6px $shadow;
    }
}
