.footer{
    background-color: $background;

    .footer__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
    }
    .footer__text{
        display: block;
        padding: 20px 0px;
        color: #FFF;
        line-height: 1.29; 
        opacity: 0.5;
    }
    .footer__slash-dark{
        color: $permanent-grey-dark;
    }
    .footer__slash-light{
        color: $permanent-grey-light;
    }
}