h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    margin: 0;
    border: none;
}

b {
    display: block;
}

button {
    cursor: pointer;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;

}


body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: $permanent-blue-smoke;
    padding: 0;
    margin: 0;
}


.container {
    margin: 0 auto;
    padding: 0 10px;
    @media screen and (min-width: 480px) {
        width: 458px;
        padding: 0 11px;
    }

    @media screen and (min-width: 768px) {
        width: 726px;
        padding: 0 25px;
    }

    @media screen and (min-width: 1200px) {
        width: 1138px;
        padding: 0 31px;
    }

    @media screen and (min-width: 1522px) {
        width: 1440px;
        padding: 0 41px;
    }
}

.title{
    color: $permanent-dark-blue;
    font-size: 16px;
    line-height: 1.2;
    @media screen and (min-width: 488px) {
        font-size: 18px;
    }
    @media screen and (min-width: 768px) {
        font-size: 20px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 30px;
    }
}





