.header__container{
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;
        padding-top: 20px;
        padding-bottom: 29px;
        display: flex;
        align-items: center;
    }
}

.header__container-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon__logo{
    width: 57px; 
    height: 21px;
    @media screen and (min-width: 1200px) {
        width: 114px; 
        height: 41px;
    }
}
.header__category-block{
    position: relative;
    display: flex;
    align-items: center;
    background-color: $permanent-yellow;
    padding: 15px 20px 15px 20px;
    border-top-left-radius: 10px;
    
    @media screen and (min-width: 1200px) {
        width: 331px;
        margin-top: 16px;
    }
}

.header__btn-menu{
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    background-color: inherit;
    color: $white;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;
    transition: transform 0.5s ease;
    &:hover{
        transform: scale(1.05);
    }   
    @media screen and (min-width: 1200px) {
        svg{
            margin-right: 20px;
        }
    }
}

.icon__close {
    width: 30px;
    height: 25px;
    fill: $white;
}

.hidden {
    display: none;
}

.header__btn-category{
    display: none;
    @media screen and (min-width: 1200px) {
    position: relative;
    display: block;
    border: none;
    background-color: inherit;
    color: $white;
    margin-left: 93px;
    transition: transform 0.5s ease;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 1px;
        background-color: $white;
        opacity: 0.5;
    }
    &:hover{
        transform: scale(1.05);
    }}
}

.catalog__items{
    position: absolute;
    top: 69px;
    left:0;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    background: $white;
    box-shadow: 0px 10px 80px rgba(0, 52, 41, 0.30);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:  361px;
    padding: 5px;
    z-index: 20;
    transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out; 
}

.catalog__items-active{
    opacity: 1;
    visibility: visible;
}

.catalog__item-main{
    display: flex;
    align-items: center;
}

.catalog__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 10px;
    cursor: pointer;

    .catalog__item-text{
        color: $permanent-blue-smoke;
        font-size: 18px;
        font-weight: 500;
        line-height: 3.8;
        margin-left: 16px;
    }

    .categories-items{
        fill: $permanent-blue-smoke;
    }

    .categories-arrows{
        margin-right: 25px;
        fill: $permanent-blue-smoke;
    }

    &:hover{
        background-color: #DDE8F0;
        .catalog__item-text{
            color: $permanent-dark-blue;
        }
        .categories-arrows{
            fill: $permanent-dark-blue;
        }
        .categories-items{
            fill: $permanent-dark-blue;
        }
    }
}


.subtitle{
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.header__box-second{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-right: 15px;
    margin-left: 15px;
}

.header__box-top{
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 24px;
    margin-left: 6px;
    }
}

.nav__list{
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header__info{
    display: flex;
    align-items: center;
}

.nav__item{
    color: $permanent-dark-blue;
    font-weight: 700;
    line-height: 1.7;
    padding-bottom: 7px;

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            &::after{
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $permanent-light-blue;
            margin-left: 8px;
            margin-right: 8px;
            }
        }
    }
}

.nav__link{
    &:hover {
        padding-bottom: 7px;
        color: $permanent-dark-blue;
        border-bottom: 1px solid $permanent-dark-blue;
    }
    &:active {
        color: $permanent-dark-mint-biruza;
        border-bottom: 1px solid $permanent-dark-mint-biruza;
    }
}

.header__phone{
    color: $permanent-dark-blue;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 7px;
    margin-right: 3px;
    border-bottom: 1px solid transparent;
    &:hover {
        color: $permanent-dark-blue;
        border-bottom: 1px solid $permanent-dark-blue;
    }
    &:active {
        color: $permanent-dark-mint-biruza;
        border-bottom: 1px solid $permanent-dark-mint-biruza;
    }
}

.lang__list{
    margin-left: 30px;
    display: flex;
    align-items: center;
    color: $permanent-dark-blue;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
}

.lang__item{
    border-bottom: 1px solid transparent;
    padding-bottom: 7px;
    &:not(:last-child) {
        &::after{
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $permanent-light-blue;
        margin-left: 10px;
        margin-right: 10px;
        }
    }
}

.lang__link{
    &:hover {
        color: $permanent-dark-blue;
        border-bottom: 1px solid $permanent-dark-blue;
    }
    &:active {
        color: $permanent-dark-mint-biruza;
        border-bottom: 1px solid $permanent-dark-mint-biruza;
    }
}

.header__bnt-login{
    display: flex;
    align-items: center;
    color: $permanent-dark-blue;
    font-weight: 700;
    
    border: none;
    background-color: inherit;
    margin-left: 62px;
    padding-bottom: 7px;
    border-bottom: 1px solid transparent;

    svg{
        margin-left: 12px;
        fill: $permanent-yellow;
    }

    &:hover {
        color: $permanent-dark-blue;
        border-bottom: 1px solid $permanent-dark-blue;
    }
    &:active {
        color: $permanent-dark-mint-biruza;
        border-bottom: 1px solid $permanent-dark-mint-biruza;

        svg{
            fill: $permanent-dark-mint-biruza;
        }
    }
}


.header__container-second{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__container-top{
    @media screen and (min-width: 1200px) {
        margin-top: 9px;
        margin-bottom: 26px;
        display: flex;
        align-items: center;
        justify-content: start;
    }

}


//==============================
.header__search-form{
    position: relative;
    border-radius: 10px;
    background-color: $permanent-light-blue;
    width: 100%;
}

.header__search-input{
    border: none;
    outline: none;
    background-color: inherit;
    height: 44px;
    padding-left: 19px;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 10px;
    color: $permanent-dark-blue;
    border: 2px solid transparent;
    width: 100%;

    &::placeholder{
        color: $permanent-dark-blue;
        font-size: 12px;    
        line-height: 1.2;
    }
    @media screen and (max-width: 480px) {
        padding-left: 8px;
    }

    @media screen and (min-width: 480px) {
        font-size: 12px;  
        padding-left: 10px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        padding-left: 19px;
        &::placeholder{
            font-size: 16px;    
        }
    }
    @media screen and (min-width: 1520px) {
        width: 715px;
    }

    &:focus{
        border: 2px solid $permanent-dark-blue;
    }
}

.header__search-button {
    position: absolute;
    padding: 16px 12px;
    top: 0px;
    right: 3px;
    transition: transform 0.5s ease;

        &:hover,
        &:focus{
            transform: scale(1.3);
        }
}

.header__favorite-list{
    display: flex;
    align-items: center;
    
}

.header__favorite-btn{
    border-top: 2px solid $permanent-smoke-yellow;
    border-bottom: 2px solid $permanent-smoke-yellow;
    border-right: none;
    border-left: none;
    padding: 13px 28px 11px 27px;
    background-color: inherit;
    &:nth-child(2n+1) {
        border: 2px solid $permanent-smoke-yellow;
    }

    &:hover{
        background-color: $permanent-dark-mint-biruza;
        border-top: 2px solid $permanent-dark-mint-biruza;
        border-bottom: 2px solid $permanent-dark-mint-biruza;
        fill: $white;
        &:nth-child(2n+1) {
            border: 2px solid $permanent-dark-mint-biruza;
        }
    }
}

.cart-button{
    border-top-right-radius: 10px;
    fill:#33485d;

    &:hover{
        background-color: $permanent-dark-mint-biruza;
        border: 2px solid $permanent-dark-mint-biruza;
        fill: $white;

        span{
                background-color: $white;
                border: 2px solid $white;
            }
    }
}

.icon-shop-card{
    position: relative;
}

.shop__card-badge{
    position: absolute;
    right: 10;
    top: 7;
    transform: translate(20%,-10%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 18px;
    background: $permanent-yellow;
    border: 2px solid $permanent-yellow;
    font-weight: 700;
    color: $permanent-dark-blue;
}