.header__container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    @media screen and (min-width: 1200px) {
        padding-top: 20px;
        padding-bottom: 29px;
    }
}

.header__container-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 20px;
}


.header__box-logo{
    @media screen and (min-width: 1200px) {
        min-width: 390px;
    }
}

.icon__logo{
    width: 57px; 
    height: 21px;
    @media screen and (min-width: 1200px) {
        width: 114px; 
        height: 41px;
    }
}

.header__box-nav{
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    }
}

.header__box-lang{
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-left: 60px;
        padding-right: 15px;
    }
}

.header__container-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__box-category{
    position: relative;
    display: flex;
    align-items: center;
    background-color: $permanent-yellow;
    padding: 15px 20px 15px 20px;
    border-top-left-radius: 10px;
    
    @media screen and (min-width: 1200px) {
        width: 331px;
    }
}

.header__box-search{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-right: 15px;
    margin-left: 15px;
}

.header__box-favorite{
    display: flex;
    align-items: center;
}

.header__btn-category{
    display: none;
    @media screen and (min-width: 1200px) {
        position: relative;
        display: block;
        color: $white;
        margin-left: 93px;
        margin-top: 5px;
    }
}