.hero{
    background: linear-gradient(180deg, #219653 0%, #FFF 100%);
    padding-top: 30px;
}

.hero__container{
    background-color: $white;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    @media screen and (min-width: 768px) {
        padding-right: 54px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-content: center;
        justify-content: space-between;
        max-width: 1160px;
    }

    @media screen and (min-width: 1522px) {
        max-width: 1316px;
        padding-right: 162px;
        padding-left: 44px;
    }
    
}

.hero__container-breadcrumbs{
    padding-top: 20px;
    padding-bottom: 13px;
}

.hero__container-info{
    margin: 0 auto;
    @media screen and (min-width: 1200px) {
        margin: 0;
        width: 589px;
    }
}
