.info__block-top{
    margin-top: 30px;
    margin-bottom: 30px;
    @media screen and (min-width: 480px) {
        margin-top: 64px;
        margin-bottom: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.info__block-top-left{
    display: flex;
    align-items: center;
}

.info__availability{
    margin-left: 0;
}

.info__rating{
    margin-right: 9px;
}

.info__reviews-total{
    margin-left: 0;
}

.info__block-main{
    border: 1px solid $permanent-light-blue;
    border-radius: 20px;
    width: 100%;
    @media screen and (min-width: 768px) {
        width: 589px;
        margin: 0 auto;
    }
}

.info__box-promotion{
    display: flex;
    align-items: center;
}

.info__box-price{
    display: flex;
    align-items: flex-end;
    padding: 38px 21px 19px 17px;
}

.info__box-sale{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.info__box-services{
    margin-top: 26px;
}

