.phone{
    color: $permanent-dark-blue;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
    &__link{
        padding-bottom: 7px;
        border-bottom: 1px solid transparent;
    &:hover {
        color: $permanent-dark-blue;
        border-bottom: 1px solid $permanent-dark-blue;
    }
    &:active {
        color: $permanent-dark-mint-biruza;
        border-bottom: 1px solid $permanent-dark-mint-biruza;
    }
    }
    
}