.price__box-current{
    color: $red;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;

    span{
        font-weight: 300;
    }
}

.price__box-original{
    position: relative;
    color: rgba(51,72,93, 0.5);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
    margin-left: 34px;
}

.price__box-original-line-through{
    position: absolute;
    background-color: $red;
    height: 2px;
    width: 77px;
    top: 41%;
    left: -10px;
    z-index: 50;
}