.promotion{
    height: 60px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    &--sale{
    color: $white;
    font-size: 24px;
    font-weight: 500;
    background-color: $red;
    border-top-left-radius: 10px;
    }
    &--conditions{
    color: $red;
    font-size: 16px;
    padding: 20px;
    background-color: $light-red;
    border-top-right-radius: 10px;
    }
}