.products{
    margin-top: 30px;
    margin-bottom: 40px;
}

    .products__container{
        max-width: 1440px;
        margin: 0 auto;
    }

        .products__list{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 30px;

            

            @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            }
            @media screen and (min-width: 1200px) {
                gap: 15px;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;

                
            }
        }

        .products__list li:nth-child(n+4) {
            display: none;
        }


        @media screen and (min-width: 1200px) {
        .products__list li:nth-child(n+4) {
            display: block;
        }
    }
        

            .products__item{
                position: relative;
                width: 276px;
                margin: 0 auto;
                height: 470px;
                border: 2px solid #239653;
                border-radius: 5px;
                transition: box-shadow 0.3s ease;
                cursor: pointer;

                &:hover{
                    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
                }

                @media screen and (min-width: 768px) {
                    width: 232px;
                    margin: 0;
                }

                @media screen and (min-width: 1200px) {
                    width: 276px;
                    margin: 0;
                }
            }

.product__img{
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 14px;
}

.products__item-info{
    padding: 9px 20px 38px 20px;
}

.products__available{
    display: flex;
        align-items: center;
}

.products__available-text{
    color: $green;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.product__flag-top{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    width: 90px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 10px;
    top: -2px;
    left:-2px;
    color: $white;
    font-size: 18px;
    font-weight: 500;
}

.product__flag-top-new{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purple;
    width: 90px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 10px;
    top: -2px;
    left:-2px;
    color: $white;
    font-size: 18px;
    font-weight: 500;
}

.product__btn-favorite{
    border: none;
    background-color: transparent;
    position: absolute;
    top:10px;
    right: 10px;
    transition: fill 0.3s ease;
    &:hover{
        fill: $green;
        transform: scale(1.2);
    }
    
}

.product__raiting{
    display: flex;
    align-items: center;
    .raiting__list{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .raiting__count{
        color: $permanent-dark-blue;
        font-weight: 500;
        line-height: 1.2;
        margin-left: 9px;
    }
}

.products__item-title{
    color: $green;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
}

.products__item-text{
    color: $permanent-dark-blue;
    font-size: 18px;
    line-height: 1.33;
    height: 62px;
    overflow: hidden;
    position: relative;
}

.products__item-text::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: $white;
    filter: blur(2px);
    pointer-events: none;
}

.products__box-price{
    margin-top: 25px;
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 1200px) {
        margin-top: 11px;
        display: block;
        
    }

    @media screen and (min-width: 1522px) {
        margin-top: 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.products__price{
    color: $permanent-dark-blue;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%; 
    margin-bottom: 10px;

    span{
        color: $permanent-dark-blue;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.2;
    }

    @media screen and (min-width: 1522px) {
        margin-bottom: 0;
    }
}