.reviews{
    margin: 15px;
    @media screen and (min-width: 768px) {
        width: 50%;
    }
    @media screen and (min-width: 1520px) {
        width: 650px;
    }
}

.reviews__box-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
}

.review__head{
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.review__name{
    color: $permanent-dark-blue;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.0; 
}

.review__date{
    color: $permanent-blue-smoke;
    font-size: 14px;
    line-height: 2.0;
}

.review__rating{
    margin-left: 18px;
}

.review__text{
    color: $permanent-blue-smoke;
    font-size: 16px;
    line-height: 1.5;
}

.review__line{
    width: 100%;
    height: 1px;
    background-color: $permanent-light-blue;
    margin-top: 35px;
    margin-bottom: 30px;
}

.reviews__btn-loadmore{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
}


