.sale__btn-shopcard{
    display: flex;
    align-items: center;
}


.sale__box-favorite{
    display: flex;
    align-items: center;
}



.sale__btn-buy{
    display: flex;
    align-items: center;
    
}
