.stars {
    display: flex;
    align-items: center;
    gap: 6px;

    &__item{
        svg{
            fill: rgba( $permanent-btn-yellow, 0.5);
        }
    }

    &__item-count{
        color: $permanent-dark-blue;
        font-weight: 500;
        font-size: 14px;
        padding-top: 5px;
        margin-left: 9px;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid rgba($permanent-dark-blue, 0.5);
        }
    }
}

.stars[data-rating="1"] > .stars__item:nth-child(-n+1) {
    svg{
        fill: $permanent-btn-yellow;
    }
}

.stars[data-rating="2"] > .stars__item:nth-child(-n+2) {
    svg{
        fill: $permanent-btn-yellow;
    }
}
.stars[data-rating="3"] > .stars__item:nth-child(-n+3) {
    svg{
        fill: $permanent-btn-yellow;
    }
}

.stars[data-rating="4"] > .stars__item:nth-child(-n+4) {
    svg{
        fill: $permanent-btn-yellow;
    }
}

.stars[data-rating="5"] {
    svg{
        fill: $permanent-btn-yellow;
    }
}