.stars {
    display: flex;
    align-items: center;
    gap: 6px;

    div{
        svg{
            fill: rgba(240, 200, 8, 0.5);
        }
    }
}

.stars[data-rating="1"] > div:nth-child(-n+1) {
    svg{
        fill: $permanent-btn-yellow;
    }
}

.stars[data-rating="2"] > div:nth-child(-n+2) {
    svg{
        fill: $permanent-btn-yellow;
    }
}
.stars[data-rating="3"] > div:nth-child(-n+3) {
    svg{
        fill: $permanent-btn-yellow;
    }
}

.stars[data-rating="4"] > div:not(:last-child) {
    svg{
        fill: $permanent-btn-yellow;
    }
}

.stars[data-rating="5"] {
    color: $permanent-btn-yellow;
}