.subscribe{
    max-width: 1440px;
    margin: 0 auto;
    background-color: $background;
}

.subscribe__container{
    padding-bottom: 51px;
    margin-bottom: 40px;
    
    .subscribe__text{
        color: $white;
        text-align: center;
        font-size: 30px;
        line-height: 1.2;
        padding: 33px 15px 0 15px;
    }

    .subscribe__form{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 4px;

        @media screen and (min-width: 480px) {
            width: 310px;
            margin: 20px auto 0 auto;
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 586px;
            background-color: $white;
            border: 2px solid #000;
            box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .subscribe__input{
        height: 50px;
        padding: 5px 20px;
        color: $permanent-dark-blue;
        font-size: 16px;
        line-height: 1.2;
        text-transform: uppercase;
        border: none;
        margin: 20px auto;
        margin-bottom: 20px;
        width:266px;

        &::placeholder{
            color: $permanent-dark-blue;
            font-size: 16px;
            line-height: 1.2;
            text-transform: uppercase;
            opacity: 0.5;
        }

        @media screen and (min-width: 768px) {
            width: 100%;
            margin: 0 auto;
        }
    }

    .subscribe__button-submit{
        color: $white;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2; 
        background-color: $permanent-btn-yellow;
        padding: 13px 44px 14px 47px;
        margin: 2px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        &:hover{
            background-color: $permanent-dark-mint-biruza;
        }

        @media screen and (max-width: 480px) {
            width: 306px;
            margin: 0 auto;
            
        }
    }
}