.subscribe{
    max-width: 1440px;
    margin: 0 auto;
    background-color: $background;
}

.subscribe__container{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
    margin-bottom: 40px;
    @media screen and (min-width: 1200px) {
        padding-left: 0;
    }
}

.subscribe__text{
    color: $white;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    padding-top: 33px ;
}

.subscribe__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    margin: 20px auto 0 auto;


    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 586px;
        background-color: $white;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.subscribe__input{
    height: 48px;
    padding: 5px 20px;
    color: $permanent-dark-blue;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    border: 2px solid transparent;
    margin: 20px auto;
    margin-bottom: 20px;
    width:260px;

    &::placeholder{
        color: $permanent-dark-blue;
        font-size: 16px;
        line-height: 1.2;
        opacity: 0.5;
    }

    @media screen and (min-width: 768px) {
        width: 100%;
        margin: 0 auto;
    }
}

.subscribe__button-submit{
    @media screen and (max-width: 480px) {
        margin: 0 auto;
    }
}
